*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "inter" sans-serif;
}

header {
  backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
  width: 100%;
  display: flex;
  justify-items: center;
  position: fixed;
  z-index: 10000;
}

/*#logo_porfolio {
  padding: 10px;
}*/

#logo_porfolio img {
  width: 40%;
}
/*navbar*/
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 36rem;
}
ul{
  list-style: none;
}
.navbar__links{
  display: flex;
}
.navbar__link{
  padding: 0 10px;
}
.navbar__link a {
  text-decoration: none;
  padding: 20px;
}
/*.nav-toggle {
  display: none;
} */

/* nav a:hover {
  transform: scale(1.5);
  transition: 0.5s;
}*/
section {
  height: 100vh;
}

h1 {
  animation: 2s;
  animation-fill-mode: both;
}

.section-1 {
  display: flex;
  width: 100%;
  background-size: cover;
  background-image: url("./images/Projets/Réseau\ informitique.jpg");
  justify-content: center;
  flex-direction: column;
  margin: 0px;
}

.section-1 .my {
  display: flex;
  /*background-color: #d9d9d9;*/
  /*border: 2px solid;*/
  /*height: 35vh;*/
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 10rem;
  width: 78%;
  padding: 25px;
  backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 100%, 0.5);
}

/*.my #profil {
    /*border: 2px solid black;
    width: 50%;
    height: 40vh;
    border-radius: 50%;
}*/

#profil img {
  width: 76%;
  border-radius: 50%;
  /*margin: 10px;*/
}

.description p {
  padding: 1rem;
  font-size: 19px;
  font-weight: 800;
  font-family: "inter", sans-serif;
}

.section-2 {
  background-color: blanchedalmond;
}

.section-2 .title {
  display: flex;
  padding: 4rem;
  justify-content: center;
}

.title h2 {
  font-size: 4rem;
  font-family: "inter";
}

.icon ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

ul img {
  width: 100px;
  height: 100px;
  margin: 4px;
}

.section-3 .title {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.section-3 .discrip {
  padding: 2rem;
  font-size: 19px;
  font-family: "inter";
  text-decoration: underline red;
}

.section-3 .container {
  height: 80vh;
}

.container .bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

h2 {
  margin-bottom: 5px;
  font-size: 35px;
  font-family: "Inter";
}

p {
  margin-bottom: 1rem;
}

.bloc_text {
  padding: 14px;
}

.portrait a {
  text-decoration: none;
}

a img {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.text_box {
  font-size: 10px;
  font-family: "Inter";
  text-transform: uppercase;
  /*padding-bottom: 30px;*/
}

.bloc_picture {
  width: 15vw;
}

footer {
  margin-top: 79rem;
  /*height: 11vh*/
  background-color: #d9d9d9;
}

h1 {
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  padding: 4rem;
  font-size: 50px;
  color: white;
  font-family: "Inter";
  animation-delay: 1.5s;
}

.link {
  width: 4vw;
}

#foot {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.reseau {
  padding-top: 1rem;
}

.bloc_picture:hover {
  transform: scale(1.01);
  transition: 0.5s;
  filter: drop-shadow(0 0 0.75rem crimson);
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .navbar {
    margin-left: 0rem;
  }

  .section-1 .my {
    margin-left: 0;
    width: 100%;
  }

  #logo_porfolio img {
    width: 60%;
  }

  .bloc_picture:hover {
    transform: scale(1.01);
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem crimson);
  }

 /* nav a:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }*/
}

@media only screen and (max-width: 768px) {

  .section-1 .my{
    display: flex;
    flex-direction: column;
  }
  #profil{
    display: flex;
    justify-content: center;
  }
  h1{
    padding: 2rem;
    font-size: 18px;
  }

  #profil img{
    width: 32%;
  }

  
  .title h2 {
    font-size: 2rem;
    font-family: "inter";
  }
  .container .bloc{
    flex-direction: column;
  }



  /*.navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:65px;
    right:0;     
    background: #e5e827; 
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }

  .active .navbar__links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar__link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  } 
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem; 
    transition: all .4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  /*Toggle menu*/
  /*.nav-toggle {
    display: block;
    position:relative;
    width: 17%;
    height: 25px;
    align-items: center;
    margin-top: 25px;
    border:none;
    background:transparent;
    /*float: right;*/
    /*left: 35%;
    cursor: pointer;
  }*/

  .m-toggle-icon{
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background: #e5e827; 
    transition: all .5s ease-in-out;
  }
/*
  .m-toggle-icon::before,
  .m-toggle-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 35%;
    height: 4px;
    background: #e5e827;
    border-radius:3px;    
    transition: all .5s ease-in-out;
    
  }

  .m-toggle-icon:before {
    transform:translateY(-12px)
  }

  .m-toggle-icon:after {
    transform:translateY(12px)
  }
  .active .bar {
    width:0;
    background:transparent;    
  }
  .active.m-toggle-icon::before {
    transform:rotate(45deg);
  }
  .active .m-toggle-icon::after {
    transform:rotate(-45deg);
  }*/
  
  /* Bonus - Animations */
  /*.active .first {      
    transition: all 1s ease-out;
  } 
  .active.second {      
    transition: all 1.1s ease-out;
  } 
  .active .third {      
    transition: all 1.2s ease-out;
  } 
  .active .four {      
    transition: all 1.3s ease-out;
  } 
  .active .fifth {      
    transition: all 1.4s ease-out;
  }*/


  #logo_porfolio img {
    width: 30%;
  }

  .description p {
    padding: 0rem;
    font-size: 16px;
  }

  /*h1 {
    padding: 4rem;
    font-size: 44px;
  }*/

  .link {
    width: 6vw;
  }

  .bloc_picture:hover {
    transform: scale(1.01);
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem crimson);
  }

  
}

@media only screen and (max-width: 625px) {

  .navbar {
    margin-left: 0rem;
  }
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:50px;
    right:0;     
    background: beige;   
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }

  .active .navbar__links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar__link {    
    /*transform: translateX(101%);*/
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  } 
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem; 
    transition: all .4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  /*Toggle menu*/
  .nav-toggle {
    display: block;
    position:relative;
    width: 17%;
    height: 25px;
    align-items: center;
    margin-top: 25px;
    /*border:none;
    background:transparent;*/
    float: right;
    cursor: pointer;
  }

  .m-toggle-icon{
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background: #e5e827; 
    transition: all .5s ease-in-out;
  }

  .m-toggle-icon::before,
  .m-toggle-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 71%;
    height: 4px;
    background: #e5e827;
    border-radius:3px;    
    transition: all .5s ease-in-out;
    
  }

  .m-toggle-icon:before {
    transform:translateY(-12px)
  }

  .m-toggle-icon:after {
    transform:translateY(12px)
  }
  .active .bar {
    width:0;
    background:transparent;    
  }
  .active.m-toggle-icon::before {
    transform:rotate(45deg);
  }
  .active .m-toggle-icon::after {
    transform:rotate(-45deg);
  }
  
  /* Bonus - Animations */
  .active .first {      
    transition: all 1s ease-out;
  } 
  .active.second {      
    transition: all 1.1s ease-out;
  } 
  .active .third {      
    transition: all 1.2s ease-out;
  } 
  .active .four {      
    transition: all 1.3s ease-out;
  } 
  .active .fifth {      
    transition: all 1.4s ease-out;
  }
  .nabar {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    margin-left: 55px;
    width: 22em;
    /* height: 100%;*/
    background: #d9d9d9;
    transform: translateX(100);
    transition: all 0.3s ease-in-out;
  }

 /* nav a {
    text-decoration: none;
    padding: 6px;
    font-size: 12px;
  }*/

  

  /*.nav-toggle {
    display: flex;
    width: 10%;
    margin-right: 17px;
  }*/

  .title h2 {
    font-size: 21px;
  }

  .section-1 .my {
    display: flex;
    flex-direction: column;
  }

  #profil {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  #profil img {
    width: 30%;
  }

  ul img {
    width: 60px;
    height: 60px;
    margin: 13px;
  }

  .bloc_picture:hover {
    transform: scale(1.05=1);
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem crimson);
  }

  nav a:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }

  .description p {
    padding: 0rem;
    font-size: 8px;
    font-weight: 500;
  }

  h1 {
    padding: 3rem;
    font-size: 19px;
  }

  .container .bloc {
    flex-direction: column;
  }

  .bloc_picture {
    width: 70vw;
  }

  h2 {
    font-size: 14px;
  }

  footer {
    margin-top: 144em;
  }

  .link {
    width: 14vw;
  }

  .reseau p {
    font-size: 11px;
  }
}

@media only screen and (max-width: 425px) {
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(106vh - 65px);  
    position:absolute;
    top:-20px;
    right:0;         
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }

  .active .navbar__links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar__link {    
    transform: translateX(10%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  } 
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem; 
    transition: all .4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  /*Toggle menu*/
  .nav-toggle {
    display: block;
    position:relative;
    width: 17%;
    height: 25px;
    align-items: center;
    margin-top: 25px;
    /*border:none;
    background:transparent;*/
    float: right;
    cursor: pointer;
  }

  .m-toggle-icon{
    display:block;    
    width:30px;
    height:4px;  
    border-radius:3px;
    background: #e5e827; 
    transition: all .5s ease-in-out;
  }

  .m-toggle-icon::before,
  .m-toggle-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 62%;
    height: 4px;
    background: #e5e827;
    border-radius:3px;    
    transition: all .5s ease-in-out;
    
  }

  .m-toggle-icon:before {
    transform:translateY(-12px)
  }

  .m-toggle-icon:after {
    transform:translateY(12px)
  }
  .active .bar {
    width:0;
    background:transparent;    
  }
  .active.m-toggle-icon::before {
    transform:rotate(45deg);
  }
  .active .m-toggle-icon::after {
    transform:rotate(-45deg);
  }
  
  /* Bonus - Animations */
  .active .first {      
    transition: all 1s ease-out;
  } 
  .active.second {      
    transition: all 1.1s ease-out;
  } 
  .active .third {      
    transition: all 1.2s ease-out;
  } 
  .active .four {      
    transition: all 1.3s ease-out;
  } 
  .active .fifth {      
    transition: all 1.4s ease-out;
  }
  nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    margin-left: 55px;
    width: 22em;
    /* height: 100%;*/
    background: #d9d9d9;
    transform: translateX(100);
    transition: all 0.3s ease-in-out;
  }

  

  /*.nav-toggle {
    display: flex;
    width: 10%;
    margin-right: 17px;
  }*/

  .title h2 {
    font-size: 21px;
  }

  .section-1 .my {
    display: flex;
    flex-direction: column;
  }

  ul img {
    width: 100px;
    height: 45px;
    margin: 13px;
  }

  #profil {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  #profil img {
    width: 30%;
  }

  .bloc_picture:hover {
    transform: scale(1.01);
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem crimson);
  }

 

  .description p {
    padding: 0rem;
    font-size: 8px;
    font-weight: 500;
  }

  h1 {
    padding: 3rem;
    font-size: 15px;
  }

  .container .bloc {
    flex-direction: column;
  }

  .bloc_picture {
    width: 70vw;
  }

  h2 {
    font-size: 14px;
  }

  footer {
    margin-top: 143em;
  }

  .link {
    width: 14vw;
  }

  .reseau p {
    font-size: 11px;
  }
}
